/* navbar start */
#pagelink{
  background-color: black;
  padding: 1% 0;
  border-color: transparent;
 
  
}
#pagelink ul li{


  color: white;
  z-index: 1;

}

#pagelink li a{
  color: white;
  font-size: 20px;
}
#pagelink li:hover a{
  color: orange;
  border-bottom: 2px solid orange;
  background-color: transparent;
}
#active{
  color: orange !important;;
  border-bottom: 2px solid orange;
}
.menu{
  display: flex;
  width: 70%;
  justify-content: space-between;
}

@media screen and (Max-Width:  1400px) {
  .logo{
    width: 100%;
  }
  #pagelink{
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    flex-wrap: wrap;
  }
  .menu{
    width: 100%;
  }
}
@media screen and (Max-Width:  1100px) {

  #pagelink li a{
    font-size: 15px;
  }
}
@media screen and (Max-Width:  992px) {

  #pagelink{
    display: block;
    justify-content: none;

  }
  #pagelink li a{
      font-size: 11px;
    }
  .menu{
    justify-content: none;
  }
}

/* navbar end */

.nb{
  background-color: white;
  height:100px;
  width: 100%;
}

/* 按鈕大外框 */
.frame_out{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

/* 按鈕 */
.button
{
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 3%;
    margin: 2% 5%;
    
    
}
/* 按鈕圖 */
.img{
    position: absolute;
    width: 350px;
    height: 350px;
    border-radius: 3%;
   
}
.img:hover{
    width: 380px;
    height: 380px;
    
}

/* 按鈕透明div */
.button_framein
{
    opacity: 80%;
    position: absolute;
    background-color: cyan;
    width: 350px;
    height: 350px;
    border-radius: 3%;
  
}
.button_framein:hover{
    opacity: 0%;
    
}
.frame_framein:focus{
  display: none;
}
/* 按鈕大標題 */
.button_Text{
    width: 58%;
    height: 30%;
    font-size: 180%;
    top: 50%;
    left: 50%;
    margin: 20% 0 0 25%;
    display: flex;
}
.p1{
  align-self: center;
}
/* 新聞橫條 */
.list-1{
    width: 100%;
    height:200px;
}

.new{
    background-color: gray;
    width: 90%;
    height:100%;
    margin-left: 5%;
    display: flex;
}
.new-text{
    background-color: floralwhite;
    width: 780px;
    height:95%;
    margin-top: 6px;
    margin-left: 10px;
}
.img-news{
    width: 400px;
    height:95%;
    margin-top: 6px;
    margin-left: 10px;
}
/*==================== page  start ==================== */

.pagination {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
  }
  
  .pagination:after {
    content: "";
    clear: both;
  }
  
  .pagination-button {
    display: inline-block;
    padding: 5px 10px;
    border: 0px solid transparent;
    background-color: transparent;
    color: black;
    cursor: pointer;
    font-size: 14px;
    border-radius: 30px;
    margin: 5px;
  }
  
  .pagination-button:hover {
    color: orange;
  }
  
  .pagination-button.active {
    background-color: orange;
    border-color: white;
    color: black;
  }
  
  .pagination-button:first-of-type {
    border-radius: 18px 0 0 18px;
    font-size: 28px;
    background-color: transparent;
  }
  
  .pagination-button:last-of-type {
    border-radius: 0 18px 18px 0;
    font-size: 28px;
    background-color: transparent;
  }
  .pagination-items {
    display: flex;
    width: 100%;
    height: 1040px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
   
  
  

  















