
/* navbar start */
#pagelink{
	background-color: black;
	padding: 1% 0;
	border-color: transparent;
	margin-bottom: 0;
	
  }
  #pagelink ul li{
  
  
	color: white;
	z-index: 1;
  
  }
  
  #pagelink li a{
	color: white;
	font-size: 20px;
  }
  #pagelink li:hover a{
	color: orange;
	border-bottom: 2px solid orange;
	background-color: transparent;
  }
  #active{
	color: orange !important;;
	border-bottom: 2px solid orange;
  }
  .menu{
	display: flex;
	width: 70%;
	justify-content: space-between;
  }
  
  @media screen and (Max-Width:  1400px) {
	.logo{
	  width: 100%;
	}
	#pagelink{
	  display: flex;
	  justify-content: space-evenly;
	  padding: 0;
	  flex-wrap: wrap;
	}
	.menu{
	  width: 100%;
	}
  }
  @media screen and (Max-Width:  1100px) {
  
	#pagelink li a{
	  font-size: 15px;
	}
  }
  @media screen and (Max-Width:  991px) {
  
	#pagelink{
	  display: block;
	  justify-content: none;
  
	}
	#pagelink li a{
		font-size: 11px;
	  }
	.menu{
	  display: block;
	  justify-content: none;
	}
  }
  
  /* navbar end */





.body{
    background-image: url("/img/LifeinCOM/a.jpg");
    width: 100%;
}
/* 模組CSS */
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #333;
	width: 100%;
}

ul.tabs li {
	float: left;
	margin: 0;
	cursor: pointer;
	padding: 0px 21px;
	height: 31px;
	line-height: 31px;
	border-top: 1px solid #333;
	border-left: 1px solid #333;
	border-bottom: 1px solid #333;
	background-color: #666;
	color: #ccc;
	overflow: hidden;
	position: relative;
}

.tab_last { border-right: 1px solid #333; }

ul.tabs li:hover {
	background-color: #ccc;
	color: #333;
}

ul.tabs li.active {
	background-color: #fff;
	color: #333;
	border-bottom: 1px solid #fff;
	display: block;
}

.tab_container {
	border: 1px solid #333;
	border-top: none;
	clear: both;
	float: left;
	width: 100%;
	background: #fff;
	overflow: auto;
}

.tab_content {
	padding: 20px;
	display: none;
}

.tab_drawer_heading { display: none; }

@media screen and (max-width: 480px) {
	.tabs {
		display: none;
	}
	.tab_drawer_heading {
		background-color: #ccc;
		color: #fff;
		border-top: 1px solid #333;
		margin: 0;
		padding: 5px 20px;
		display: block;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.d_active {
		background-color: #666;
		color: #fff;
	}
}
/* END */

/* 2 */
.bigdiv{
	margin-top: 50px;
	width: 100%;
}
.color{
	margin-left: 10px;
	margin-top: 10px;
  color: blue;
}
.picture{
    width: 130px;
	height: 130px;
	margin-right: 140PX;
    border-radius: 50%;
    background-size: 100%;
    background-image: url("/img/LifeinCOM/P2.png");
}
.picture:hover {
    background-image: url("/img/LifeinCOM/a.jpg");
  }
.divup{
	display: flex;
}
.div1{
	width: 90%;
}
.div2{
	margin-top: 35px;
	margin-right: 10px;
}
.p1{
	display: flex;
}
.p{
	margin-top: 5PX;
	width: 40%;
	height: 100%;
	margin-left: 5%;
	margin-top: 10PX;
}
/* 3 */
.sp{
	background-color: blue;
	color: white;
	

}
.spty{
	border-bottom-style:solid; 
	border-color: blue;
	display: flex;
}
.text3{
	margin-left: 10%;
}
/* 2 */
.p-2{
	width: 30%;
	height: 100%;
	margin-left: 3%;
}
.div-2{
	height: 100%;
	display: flex;
}
.p-2-2{
	width: 90%;
	margin-left: 3%;
}
.frame{
	margin-left: 10%;
	width: 50%;
}
/* 1 */
.view{
	margin-left: 10%;
}
.st1{
	background-color: blue;
}
.move{
	width:100%;
	margin-left: 3%;
}
.move1{
	width:100%;
}
.t1{
	margin-top: 15px;
}
/* 4 */
.t4{
	font-size: 25px;
	width: 100%;
	margin-left: 50PX;
	margin-right: 50PX;
}
.title{
	border-bottom-style:solid; 
}
.m-title{
	font-size: 20px;
	margin-top: 2px;
}
.move4{
	margin-top: 10px;
}
.text{
	margin-left: 25px;
}



/* footer start */
.footers{
	padding: 2% 0;
	background-color: black;
	color: white;
  }
  .footerbox{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }
  .ciclebox{
	margin-top: 10%;
	width: 250px;
	display: flex;
	justify-content: space-evenly;
  }
  .cicle{
	width: 40px;
	height: 40px;
	border: 2px solid black;
	border-radius: 99%;
  }
  .connection{
	margin-left: 5%;
  }
  .ftitle{
	font-size: 20px;
  }
  .footerlinkbox{
	display: flex;
	flex-wrap: wrap;
  }
  .footerlink ul{
   
	list-style: none;
  }
  .footerlink li{
	margin-bottom: 8%;
  }
  .footerlink a{
	font-size: 15px;
	color: white;
  }
  .footerlink a:hover{
	color: orange;
  }
  .yt{
	background-image: url(/img/index/yt.png);
	background-size: 100% 100%;
  }
  .fb{
	background-image: url(/img/index/fb.png);
	background-size: 100% 100%;
  }
  .ig{
	background-image: url(/img/index/IG.png);
	background-size: 100% 100%;
  }
  .line{
	background-image: url(/img/index/line.png);
	background-size: 100% 100%;
  }
  /* footer end */