/* navbar start */
.navbar-toggle,.navbar-default:focus,
.navbar-toggle,.navbar-default:hover{
  background-color: transparent;
}
#pagelink{
  background-color: black;
  padding: 1% 0;
  border-color: transparent;
  margin-bottom: 0;
  
}


#pagelink ul li{


  color: white;
  z-index: 1;

}

#pagelink li a{
  color: white;
  font-size: 20px;
}
#pagelink li:hover a{
  color: orange;
  border-bottom: 2px solid orange;
  background-color: transparent;
}
#active{
  color: orange !important;;
  border-bottom: 2px solid orange;
}
.menu{
  display: flex;
  width: 70%;
  justify-content: space-between;
}

@media screen and (Max-Width:  1425px) {
  .logo{
    width: 100%;
  }
  #pagelink{
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    flex-wrap: wrap;
  }
  .menu{
    width: 100%;
  }
}
@media screen and (Max-Width:  1165px) {

  #pagelink li a{
    font-size: 15px;
  }
}
@media screen and (Max-Width:  992px) {

  #pagelink{
    display: block;
    justify-content: none;

  }
  #pagelink li a{
      font-size: 11px;
    }
    #pagelink ul {
      display: flex;
      flex-wrap: wrap;
    }
    .menu{
      justify-content: center;
    }

}
@media screen and (Max-Width:  842px) {
  #pagelink li a{
    font-size: 5px;
  }
  #pagelink li{
    width: 150px;
  }
}
@media screen and (Max-Width:  767px) {
  .menu{
    display: block;
  }
}


/* navbar end */


body{
    background-image: url(/img/AboutCOM/pexels-brandon-montrone-1179229.jpg);
}
.space{
    width: 100%;
    height: 65px;
}
.articlebox{
    width: 100%;
    padding: 10%;
    border: 2px solid rgb(221, 220, 220);
    background-color: rgba(255, 255, 255);
}
.trans{
    background-color: rgba(255, 255, 255,0.755);
}
.title{
    font-size: 60px;
    margin-bottom: 5%;
    color: #36a88a;
    font-weight: 700;
}
.article{
    font-size: 30px;
}
.Distinctiveness li{
    font-size: 30px;
}
.Administration ul{
    list-style-type: square;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Administration li{
    width: 40%;
    font-size: 30px;
    margin: 20px 50px;
}
.information{
    font-size: 30px;
   
}

@media screen and (Max-Width:  1000px) {
    .Administration li{
        width: 100%;
    }
}

@media screen and (Max-Width:  600px) {
    .articlebox{
        padding: 3%;
    }
    .title{
        font-size: 30px;
        margin-bottom: 5%;
        color: #36a88a;
        font-weight: 700;
    }
    .article{
        font-size: 20px;
    }
    .Distinctiveness li{
        font-size: 20px;
    }
    .Administration li{
        font-size: 20px;
    }
    .Administration ul{
        justify-content: none;
    }
    .information{
        font-size: 20px;
       
    }
}


/* footer start */
.footers{
  padding: 2% 0;
  background-color: black;
  color: white;
}
.footerbox{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ciclebox{
  margin-top: 10%;
  width: 250px;
  display: flex;
  justify-content: space-evenly;
}
.cicle{
  width: 40px;
  height: 40px;
  border: 2px solid black;
  border-radius: 99%;
}
.connection{
  margin-left: 5%;
}
.ftitle{
  font-size: 20px;
}
.footerlinkbox{
  display: flex;
  flex-wrap: wrap;
}
.footerlink ul{
 
  list-style: none;
}
.footerlink li{
  margin-bottom: 8%;
}
.footerlink a{
  font-size: 15px;
  color: white;
}
.footerlink a:hover{
  color: orange;
}
.yt{
  background-image: url(/img/index/yt.png);
  background-size: 100% 100%;
}
.fb{
  background-image: url(/img/index/fb.png);
  background-size: 100% 100%;
}
.ig{
  background-image: url(/img/index/IG.png);
  background-size: 100% 100%;
}
.line{
  background-image: url(/img/index/line.png);
  background-size: 100% 100%;
}
/* footer end */